<div class="wrap-main-part">
    <div>
        <div >
            <div>
                <div class="col-mg-12">
                    <div class="card-deck">
                        <div class="col-md-4 mb-4" class="card-deck" ng-repeat="item in namelist | filter:search | limitTo:rowLimits | orderBy:sortColumn" >
                            <div class="card" id="card">
                                <img ng-src="{{ item.imagebook }}" class="card-img-top h-100" alt="...">
                                <div class="mt-2 mb-2">
                                    <h5 class="card-title">{{ item.productname }}</h5>
                                </div>
                                <div>
                                    <div class="row Cfooter">
                                        <div class="col-md-6 bl-0 ml-0" align="left"><span
                                                class="card-text">{{ item.price }}.00 kr</span></div>
                                        <div class="col-md-6 br-0 mr-0" align="right">
                                            <div class="stars-outer">
                                                <div class="stars-inner" ng-style="{ 'width': rating(item.rating) }"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div id="wrap-sides-line" class="row">
    <div class="wrap-sides-line-dicoration col-md-2"><a href=""><i class="fas fa-arrow-left"></i></a></div>
    <div class="wrap-sides-line-dicoration col-md-2" style="background-color:#ff8155">01</div>
    <div class="wrap-sides-line-dicoration col-md-2" >02</div>
    <div class="wrap-sides-line-dicoration col-md-2">...</div>
    <div class="wrap-sides-line-dicoration col-md-2">04</div>
    <div class="wrap-sides-line-dicoration col-md-2"><a href=""><i class="fas fa-arrow-right"></i></a></div>
</div>