<div class="container-fluid wrap-first-box col-md-12 row">

    <div class="col-md-3 wrap-first-box-parts">
        <div><i> <a href=""><img src="website/Media/icon1.png" alt=""></a></i></div>
        <div>
            <strong>Free Shipping</strong>
            <p>Order over $100</p>
        </div>
    </div>
    <div class="col-md-3 wrap-first-box-parts">
        <div><i> <a href=""><img src="website/Media/icon2.png" alt=""></a></i></div>
        <div>
            <strong>Free Return</strong>
            <p>In 30 Days</p>
        </div>
    </div>
    <div class="col-md-3 wrap-first-box-parts">
        <div><i><a href=""><img src="website/Media/icon3.png" alt=""></a></i></div>
        <div>
            <strong>100% Secure</strong>
            <p>Shipping</p>
        </div>
    </div>
    <div class="col-md-3 wrap-first-box-parts">
        <div><i> <a href=""><img src="website/Media/icon4.png" alt=""></a></i></div>
        <div>
            <strong>Best Price</strong>
            <p>Granted</p>
        </div>
    </div>
</div>
<div class="wrap-second-box row">
    <div class="col-md-2 row">
        <div class="col-md-6"><a href="#!ColumnView"><i class="fa  fa-th  ActiveK" id="columnV" ></i></a></div>
        <div class="col-md-6"><a href="#!ListView"><i class="fas fa-bars" id="listV" ></i></a></div>
    </div>
    <div class="col-md-10 row" style="text-align: right">
        <div class="col-md-7" id="showing-line">
            <span class="text-dark">Showing</span>
            <select ng-model="rowLimits" ng-options="rowLimitArra.id as rowLimitArra.name for rowLimitArra in rowLimitArr ">
               
            </select>
            <span  class="text-dark">of 30 results</span>
        </div>
        <div class="col-md-5" id="sort-part">
             <select class="dropdown" id="sortby" ng-model="sortColumn"  name="selectSort">
                    <option value="" disabled selected>Sort by</option> 
                    <option value="productname">Produkt</option>
                    <option value="rating">rating</option>
                    <option value="price">Pris</option>
                </select>
        
            <div class="input-group"  id="search-part">
                <input id="search" type="search" placeholder="Search from here" ng-model='searchText'>
                <span class="input-group-addon"><i class="fas fa-search"></i></span>
            </div>
        </div>
    </div>



</div>
<div class="wrap-main-part">
    <div>
        <div >
            <div>
                <div class="col-mg-12">
                    <div class="card-deck">
                        <div class="col-md-4 mb-4" class="card-deck" ng-repeat="item in namelist | filter:search | limitTo:rowLimits | orderBy:sortColumn" >
                            <div class="card" id="card">
                                <img ng-src="{{ item.imagebook }}" class="card-img-top h-100" alt="...">
                                <div class="row mt-2 mb-2">
                                    <h5 class="card-title col-md-6 bl-0 ml-0" align="left">{{ item.productname }}</h5>
                                    <div class="col-md-6 bl-0 ml-0" align="right">
                                            <div>
                                                <button type="button" ng-click="addItem(item)" class="btn btn-success btn-sm">Add to Cart</button>
                                            </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row Cfooter">
                                        <div class="col-md-6 bl-0 ml-0" align="left"><span
                                                class="card-text">{{ item.price }}.00 kr</span></div>
                                        <div class="col-md-6 br-0 mr-0" align="right">
                                            <div class="stars-outer">
                                                <div class="stars-inner" ng-style="{ 'width': rating(item.rating) }"></div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div id="wrap-sides-line" class="row">
    <div class="wrap-sides-line-dicoration col-md-2"><a href=""><i class="fas fa-arrow-left"></i></a></div>
    <div class="wrap-sides-line-dicoration col-md-2" style="background-color:#ff8155">01</div>
    <div class="wrap-sides-line-dicoration col-md-2" >02</div>
    <div class="wrap-sides-line-dicoration col-md-2">...</div>
    <div class="wrap-sides-line-dicoration col-md-2">04</div>
    <div class="wrap-sides-line-dicoration col-md-2"><a href=""><i class="fas fa-arrow-right"></i></a></div>
</div>